.json-view-mode {
  background-color: #fff;
  padding: 10px;
}
.j-row {
  position: relative;
  .header {
    font-weight: bold;
  }
  .col {
    display: flex;
    align-items: center;
    height: 35px;
  }
  .is-required {
    width: 100px;
  }
  .attr {
    width: 100px;
  }
  .type {
    width: 100px;
  }
  .remark {
    width: 100px;
  }
  .value {
    width: 200px;
  }
  .value-input {
    border-color: #d9d9d9;
  }
}
.items-row {
  padding-left: 10px;
  border: 1px solid #d9d9d9;
}
.ope-area {
  width: 100%;
  display: flex;
  flex-flow: row-reverse;
}
.ope-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
  color: var(--galaxy-primary-color);
  &.remove-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--galaxy-error-color);
    z-index: 10;
  }
}
.base-area {
  .base-input {
    width: 150px;
    border-color: #ccc;
  }
}
.array-item-list {
  border: 1px solid #d9d9d9;
  padding: 5px 0 5px 10px;
  .array-item {
    position: relative;
  }
}
.object-input {
  padding-bottom: 5px;
}
.division-line {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin: 5px 0;
}
