$border-color: #DBE6F1;
$disabled-bg-color: #F5F7F9;
$int-height: $form-int-height;
.ant-form-item-with-help .ant-form-item-explain {
  min-height: 12px
}
.ant-form-item-explain-error {
  font-size: 12px;
  line-height: 12px;
}
div[class*='-form-item'][class*='row'] {
  margin-bottom: 20px;
}
// form-label
div[class*='form-item-label'] > label {
  color: #262626;
  height: $int-height;
}
// input
span[class*='input-affix-wrapper'] {
  color: #262626;
  border-color: transparent;
  border-radius: $block-border-radius;
  height: $int-height;
  padding-top: 0;
  padding-bottom: 0;
  &[class*='input-affix-wrapper-textarea-with-clear-btn']  {
    height: inherit;
  }
  // textarea
  textarea[class*='-input'] {
    border-radius: $block-border-radius;
    line-height: $int-height - 10px;
  }
  input::-webkit-input-placeholder {
    color: #888;
  }
  &:focus {
    box-shadow: none;
    border-color: var(--galaxy-primary-color);
  }
}
span[class*='-input-affix-wrapper-focused'] {
  box-shadow: none;
  border-color: var(--galaxy-primary-color);
}
span[class*='input-affix-wrapper-disabled'] {
  border-color: transparent;
  background-color: $disabled-bg-color;
  &:hover {
    border-color: transparent;
  }
}
input[class*='-input'],textarea[class*='-input'] {
  border-radius: 8px;
  border-color: transparent;
  &::-webkit-input-placeholder {
    font-size: 12px;
    color: #888;
  }
}
input[class*='-input'][disabled],textarea[class*='-input'][disabled] {
  color: #262626;
  border-color: transparent;
}
div[class*='form-item-control-input'] {
  display: flex;
  min-height: $int-height;
  align-items: center;
}
input[class*='input-number-input'] {
  height: $int-height;
}
div[class*='input-number']{
  border-radius: 8px;
  border-color: transparent;
}
div[class*='input-number-disabled'] {
  border-color: transparent;
  background-color: $disabled-bg-color;
  &:hover {
    border-color: transparent;
  }
}
span[class*='anticon'][class*='-input-clear-icon'] {
  color: #BBCEDF;
  &:hover{
    color: #BBCEDF;
  }
}
// select
div[class*='-select']:not(div[class*='select-customize-input']) {
  div[class*='select-selector'] {
    height: $int-height;
    border-color: transparent;
    border-radius: $block-border-radius;
    box-shadow: none !important;
    span[class*='select-selection-item'],
    span[class*='select-selection-placeholder'] {
      line-height: $int-height;
    }
    span[class*='select-selection-item-content'],
    span[class*='select-selection-item-remove'] {
      line-height: 20px;
    }
    span[class*='-select-selection-placeholder'] {
      font-size: 12px;
      color: #888;
    }
    &:hover {
      border-color: var(--galaxy-primary-color);
    }
  }
}
div[class*='select-multiple']:not(div[class*=select-customize-input]) {
  div[class*='select-selector'] {
    width: 100%;
    height: unset;
    min-height: $int-height;
    span[class*='select-selection-item'] {
      background-color: #E7F0F8;
      color: #262626;
      border-radius: 12px;
    }
    span[class*='select-selection-item-remove'] {
      color: #BBCEDF;
    }
  }
}
span[class*='select-selection-placeholder'] {
  color: #888;
}
div[class*='select-item-option'] {
  border-radius: 8px;
  div[class*='select-item-option-content'] {
    color: #454545;
  }
  div[class*='select-item-option-content'] {
    color: #454545;
  }
}
div[class*='select-item-option'][class*='select-item-option-active'] {
  background-color: #E7F0F8;
}
div[class*='select-item-option'][class*='select-item-option-disabled'] {
  div[class*='select-item-option-content'] {
    color: rgba(0, 0, 0, 0.25);
  }
}
div[class*='select-item-option-selected']:not([class*='select-item-option-disabled']) {
  font-weight: 400;
  background-color: #E7F0F8;
  div[class*='select-item-option-content'] {
    color: #262626;
  }
}
div[class*='select-item-group'] {
  color: #8EA1B3;
  border-bottom: 1px solid #E7F0F8;
  margin-bottom: 2px;
}
div[class*='-select-multiple'][class*='-select-disabled'][class*='-select']:not(div[class*='-select-customize-input']),
div[class*='-select-disabled'][class*='-select']:not(div[class*='-select-customize-input']) {
  div[class*='-select-selector'] {
    border-color: transparent;
    background-color: $disabled-bg-color;
    color: #262626;
  }
}
span[class*='-select-clear'] {
  color: #BBCEDF;
  height: $int-height - 2px;
  line-height: $int-height - 2px;
  top: 7px;
  right: 5px;
  width: 22px;
  &:hover{
    color: #BBCEDF;
  }
}
.rc-virtual-list-scrollbar-thumb {
  background-color: #BBCEDF!important;
}
.rc-virtual-list-scrollbar {
  width: 6px!important;
}
// radio
span[class*='-radio-inner'] {
  border-color: #DBE6F1;
  border-width: 2px;
}
// checkbox
span[class*='checkbox-inner'] {
  border-color: #DBE6F1;
  border-width: 2px;
  border-radius: 6px;
  width: 20px;
  height: 20px;
}
span[class*='checkbox-disabled'] {
  span[class*='checkbox-inner'] {
    background-color: #DBE6F1;
    border-color: #DBE6F1!important;
    &::after {
      border-color: #fff!important;
    }
  }
}
div[class$='-picker'], div[class$='-picker-range'], div[class*='-picker'][class*='-picker-disabled'] {
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: transparent;
  border-radius: $block-border-radius;
}
div[class*='-picker'][class*='-picker-disabled'] {
  background-color: #F5F7F9;
}
div[class$='picker-focused'] {
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: $block-border-radius;
}
div[class*='form-item-explain'], div[class*='-form-item-extra'] {
  font-size: 12px;
}
div[class*='form-item-explain-connected'] {
  position: relative;
  height: 0;
  min-height: 0;
}
div[class*='form-item-explain-error'] {
  position: absolute;
  width: 100%;
  bottom: -18px;
}
