// 侧边栏右侧内容区
.style-block-main-bg {
  background-color: transparent;
  margin: 0;
  padding: 16px 0;
}

// 普通内容块
.style-block-content {
  background-color: $content-block-bg;
  border-radius: $block-border-radius;
}

// 图标鼠标移上的指示
.style-icon-pointer {
  cursor: pointer;
}

// 滚动条样式
@mixin scrollStyle {
  &::-webkit-scrollbar-thumb {
    background-color: #BBCEDF;
  }
}
// 阴影样式
@mixin boxShadow {
  box-shadow: 0 6px 18px 0 rgba(91, 116, 139, 0.14);
}

.dropdown-more-btn {
  display: flex;
  align-items: center;
  .icon {
    font-size: 18px;
    margin-left: 3px;
  }
}
// 列表状态样式
span.data-col-status {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  min-width: 60px;
  text-align: center;
  font-size: 12px;
  color: #8EA1B3;
  background-color: #EFF4FA;
  border-radius: 8px;
  &.s {
    color: #17C8C9;
    background-color: #F0FDFD;
  }
  &.w {
    color: #EFAC15;
    background-color: #FDF7E9;
  }
  &.i {
    color: #5093F0;
    background-color: #EEF8FF;
  }
  &.e {
    color: #FF8080;
    background-color: #FFF5F5;
  }
}
// 下拉菜单弹出下拉项样式
div[class*='select-dropdown'] {
  border-radius: 8px;
  padding: 10px 8px;
  box-shadow: 0 6px 18px 0 rgba(91,116,139,0.14);;
}
// popover弹出框圆角
div[class*='popover-inner'] {
  border-radius: 8px;
}
