/* 滚动条样式 */
*::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
/* 滚动条的滑轨背景样式 */
*::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 滑块样式 */
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #E7F0F8;
}

body{
  margin: 0;
  padding: 0;
  .el-popper{
    z-index: 2999!important;
  }
  #app{
    height: 100%;
  }
  svg[preserveAspectRatio="xMidYMid meet"]{
    transform: translate(0, 3px);
  }
  svg[preserveAspectRatio="xMidYMid meet"][spin]{
    animation: spin 1s linear 0s infinite normal;
  }
  @keyframes spin{
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)
    }
  }
}
/* 公共样式引入 */
@import "global";
div[class*='-modal-root'],
div[class*='-drawer'],
div[class*='-dropdown'],
div.galaxy-theme-style {
  @import "form"; /* form表单样式调整 */
  @import "table"; /* table表格样式调整 */
  @import "pagination";
  @import "button";
  @import "tabs";
  @import "tree";
  @import "dropdown";
  @import "modal";
}
.main-content {
  background: $undertone-content;
  min-height: 500px;
  padding: 0;
  /* 滑块样式 */
  &::-webkit-scrollbar-thumb {
    background-color: #BBCEDF;
  }
}
