// modal
$pdSize: 40px; // modal 公共内边距

div[class*='-modal'][role='document'] {
  top: calc(10vh);
}

div[class*='-modal-header'] {
  padding: 0;
  height: 64px;
  border-radius: $block-border-radius $block-border-radius 0 0;
}

div[class*='modal-title'] {
  font-size: 14px;
  font-weight: bold;
  line-height: 64px;
  padding-left: $pdSize;
}

div[class*='-modal-content'] {
  border-radius: $block-border-radius;
}

div[class*='-modal-body'] {
  background-color: #FBFDFE;
  border-radius: $block-border-radius;
  overflow-y: auto;
  min-height: 200px;
  max-height: calc(65vh);
  padding-left: $pdSize;
  padding-right: $pdSize;
}

div[class*='-modal-footer'] {
  background-color: #FBFDFE;
  padding: 0 $pdSize 20px;
  border-top: 0;
  border-radius: 8px;
}

[class*='galaxy-modal-close'] {
  &:hover {

    span[class*='-modal-close-x']::before,
    span[class*='-modal-close-x']::after {
      background-color: #5b748b;
    }
  }
}

span[class*='-modal-close-x'] {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: #e7f0f8;
    transition: all 0.2s;
  }

  &::before {
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    width: 20px;
    height: 2px;
  }

  &::after {
    left: calc(50% - 1px);
    top: calc(50% - 10px);
    width: 2px;
    height: 20px;
  }

  &::before,
  &::after {
    transform: rotate(45deg);
  }
}

span[class*="-modal-close-icon"][role="img"] {
  display: none;
}
