thead[class*='table-thead'] > tr > th {
  background: $content-block-bg;
  color: #888;
  font-weight: unset;
  height: 42px;
  border-bottom: 1px solid #DBE6F1;
  font-size: 12px;
}
tbody[class*='table-tbody'] {
  background-color: $content-block-bg;
  color: #454545;
  & > tr[class*='galaxy-table-row']:hover {
    & > td {
      background-color: #F5F7F9;
      &[class*='table-cell-row-hover'] {
        background-color: #F5F7F9;
      }
    }
  }
  & > tr[class*='table-row-selected'] > td {
    background-color: #FDFDFD;
  }
}
.galaxy-table-tbody > tr.galaxy-table-row-selected > td {
  background: #FDFDFD;
}
