// tabs
div[class$='tabs-nav'] {
  padding-left: 10px;
  background: transparent;
}
div[class*='-tabs-nav-list'] {
  & > div[class*='-tabs-tab'] {
    padding: 9px 0;
    &~ div[class*='tabs-ink-bar'] {
      transition: left 0s;
    }
  }
  & > div[class*='-tabs-tab'][class*='-tabs-tab-active'] {}
}
div[class$='-tabs-tab'] {
  padding: 9px 0;
}
div[class*='-tabs-tab'][class*='-tabs-tab-active'] {
  div[class*='-tabs-tab-btn'] {
    color: #262626;
  }
}
div[class*='-tabs-top'] {
  & > [class*='-tabs-nav']::before {
    border-color: #DBE6F1;
  }
  // & > [class$='-tabs-nav'] {
  //   margin-bottom: 8px;
  // }
}
