div[role='tree'] {
  background-color: $content-block-bg;
  span[class*='-tree-node-content-wrapper'] {
    border-radius: 8px;
    padding-left: 8px;
    &:hover {
      background-color: #F5F7F9;
    }
    &[class*='tree-node-selected'] {
      background-color: #F5F7F9;
      span[class*='dropdown-trigger'] {
        color: #25B7DB;
      }
    }
  }
}
span [class*='tree-title'] {
  span[class*='dropdown-trigger'] {
    color: #262626;
  }
}
span[class*='tree-node-content-wrapper'] {
  line-height: 36px;
}
span[class*='tree-treenode'] {

}
span[class*='tree-switcher'] {
  display: flex;
  align-items: center;
  justify-content: center;
}
span[class*='tree-checkbox'] {
  margin: 9px 0 0 0;
  span[class*='tree-checkbox-inner'] {
    margin: 0;
  }
}
