$model-border-radius: 8px;
$header-fill-color: #f6f6f6;

//header
.galaxy-ant-layout-header{
  background: #1c1917;
}

// table
.galaxy-ant-table{
  line-height: 1.22;
  border-radius: $model-border-radius;
}
.galaxy-ant-table-thead>tr>th{
  font-size: 14px;
  background: $header-fill-color;
}
.galaxy-ant-table.galaxy-ant-table-bordered > .galaxy-ant-table-container{
  border: 0;
}

// modal
.galaxy-ant-modal-header{
  padding: 10px 24px;
  border-radius: $model-border-radius $model-border-radius 0 0;
}
.galaxy-ant-modal-content{
  border-radius: $model-border-radius;
}
.galaxy-ant-modal-body{
  background-color: $header-fill-color;
}
