$activeColor: var(--galaxy-primary-color);
$height: 48px;

.sidebar-area {

  @mixin appIcon-normal {
    &.default {
      display: flex;
    }

    &.hover {
      display: none;
    }
  }

  @mixin appIcon-hover {
    &.default {
      display: none;
    }

    &.hover {
      display: flex;
    }
  }

  padding: 16px 0;

  .sidebar-menu {
    padding: 0 12px;
    background: transparent;

    div[class$='menu-submenu-title'] {
      height: $height;
      line-height: $height;
      padding-right: 0px;
      padding-left: 12px;
      margin: 0;
    }

    span[class$='menu-title-content'] {
      margin-left: 11px;
      font-weight: 400;
    }

    .app-icon {
      font-size: 20px;
      @include appIcon-normal;
    }
  }

  .arrow-icon {
    font-size: 20px;
    padding-right: 17px;
  }

  .menu-item {
    border-radius: unset;
    box-shadow: none;

    ul[class*='galaxy-menu'] {
      background-color: transparent;
      // background-color: red;
    }

    &:hover {
      .app-icon {
        @include appIcon-hover;
      }

      color: unset;

      // background-color: #e7f0f8;
      &>div[class*='menu-submenu-title'] {
        background-color: #e7f0f8;
        border-radius: 8px;
      }

      span[class*='arrow-icon'] {
        color: unset !important;
      }
    }
  }

  li[class$='menu-submenu-selected'] {
    color: #262626;

    .app-icon {
      @include appIcon-hover;
    }

    span[class*='menu-item-icon'] {
      color: $activeColor;
    }

    .arrow-icon {
      color: #888;
    }
  }

  @mixin line {
    position: absolute;
    content: '';
    display: block;
    border-left: 1px solid #e5e5e5;
    width: 1px;
    left: 0;
    top: 0;
  }

  .inner {
    position: relative;

    &:before {
      @include line;
      height: $height;
    }
  }

  .inner-title {
    position: relative;
    display: flex;
    height: 100%;
    margin-left: 20px;
    padding-left: 8px;
    border-radius: 8px;
    // background-color: transparent;

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 10px;
      left: -20px;
      width: 18px;
      height: 15px;
      border: 1px solid #e5e5e5;
      border-radius: 0 0 0 9px;
      border-top-width: 0;
      border-right-width: 0;
    }

    &:hover {
      // background-color: red;
      background-color: #e7f0f8;
    }
  }

  .sidebar-sub {
    position: relative;

    li:last-child {
      .inner {
        &:before {
          @include line;
          height: 15px;
        }
      }
    }

    li[class*='menu-item-selected'] {
      padding-right: 0;
      background: transparent;

      .inner-title {
        background: #e7f0f8;
        // box-shadow: 0 1px 8px 0 #e7f0f8;
        border-radius: 8px;

        &:hover {
          color: #00bceb;
        }
      }

      &:after {
        display: none;
      }
    }

    li[style*='padding-left'] {
      &:before {
        @include line;
        position: relative;
        height: $height;
        left: -1px;
      }
    }

    li[style*='padding-left: 24px'] {
      &:before {
        display: none;
      }
    }

    div.icons {
      display: flex;
    }
  }

  li[class$='menu-item-only-child'] {
    margin: 0;
    height: $height;
    line-height: $height;
  }

  li[class$='menu-item-only-child']:not(:last-child) {
    margin-bottom: 0;

    .inner {
      &:before {
        @include line;
        height: $height;
      }
    }
  }

  li[class$='menu-item-only-child']:last-child {
    margin-bottom: 0;
  }

  .galaxy-menu {
    color: #454545;
    font-weight: 300;

    .arrow-icon {
      color: #d9d9d9;
    }
  }

  li[class*='menu-submenu-inline']>div[class*='menu-submenu-title'] {
    span[class*='arrow-icon'] {
      color: #d9d9d9;
    }
  }

  li[class*='menu-submenu-open']>div[class*='menu-submenu-title'] {
    span[class*='arrow-icon'] {
      color: #888;
    }

    ul[class*='menu-inline'] {
      &:hover~div[class*='menu-submenu-title'] {
        background-color: unset;
      }
    }


  }

  li[class*='menu-submenu-open']>ul[class*='menu-inline']>div[class*='sidebar-sub'] {
    &>li[class*='menu-submenu-inline']>div[class*='menu-submenu-title']:hover {
      span[class*='inner-title'] {
        border-radius: 8px 0 0 8px;
        background-color: #e7f0f8;
      }

      span[class*='arrow-icon'] {
        border-radius: 0px 8px 8px 0px;
        background-color: #e7f0f8;
        margin: auto;
        height: 50.5px;
      }
    }
  }

  li[class*=menu-item-only-child] {
    padding-right: 0;
  }

}

.sidebar-area {
  ul[class*='menu-light'] {
    div[class*='-menu-submenu-title'] {
      &:hover {
        color: unset;
      }
    }

    [class*='-menu-item-icon'] {
      &:hover {
        color: unset;
      }
    }
  }

  // galaxy-menu-item galaxy-menu-item-only-child
  li[class*='menu-item'] {
    [class*='menu-item-only-child'] {
      &:hover {
        color: unset;
      }
    }
  }

  div[class*='menu-submenu-title'] {
    span[class*='inner-title'] {
      color: #454545;
    }
  }

}

span[class*='inner'] {
  &:hover {
    background-color: transparent;
  }
}

// div[class*='-menu-submenu-title'] {
//   &:hover {
//     background-color: #e7f0f8;
//   }
// }

span[class*="menus-first-title"] {
  color: #454545;
}

.sidebar-sub {
  .arrow-icon {
    display: inline-block;
  }

  div[class$='menu-submenu-title'] {
    display: flex;
    justify-content: space-between;
  }
}

div[class*='menu-submenu-popup'].menu-item {
  ul {
    border-radius: 16px;
    box-shadow: 2px 0 12px 0 rgba(86, 102, 121, 0.2);
  }

  div[class*='menu-submenu-title'] {
    height: $height;
    line-height: $height;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 22px;
    border-radius: 8px;

    .arrow-icon {
      font-size: 20px;
      transform: rotateZ(-90deg);
    }
  }

  .popup-icon.close {
    display: none;
  }

  .galaxy-menu {
    color: #888;
  }
}
