button.galaxy-btn-primary {
  background: var(--galaxy-primary-color-hover);
  border-color: var(--galaxy-primary-color-hover);
  color: #fff;
  &:hover {
    border-color: var(--galaxy-primary-color);
    color: #fff;
    background: var(--galaxy-primary-color);
  }
  &:active {
    border-color: var(--galaxy-primary-color-active);
    color: #fff;
    background: var(--galaxy-primary-color-active);
  }
  &:focus {
    border-color: var(--galaxy-primary-color-hover);
    color: #fff;
    background: var(--galaxy-primary-color-hover);
    box-shadow: 0 0 3px var(--galaxy-primary-color-outline);
  }
}
.galaxy-btn:hover, .galaxy-btn:focus {
  color: var(--galaxy-primary-color);
  border-color: var(--galaxy-primary-color);
}
.galaxy-btn-dangerous:hover, .galaxy-btn-dangerous:focus {
  color: var(--galaxy-error-color-hover);
  border-color: var(--galaxy-error-color-hover);
}
.galaxy-btn-link {
  color: var(--galaxy-primary-color-hover);
}
.galaxy-btn-link:hover, .galaxy-btn-link:focus, .galaxy-btn-link:active {
  border-color: transparent;
}
button.galaxy-btn-text{
  color: var(--galaxy-primary-color-hover);
  &:hover {
    color: var(--galaxy-primary-color);
  }
  &:active {
    border-color: var(--galaxy-primary-2);
    color: var(--galaxy-primary-color-active);
    background: var(--galaxy-primary-2);
  }
  &:focus {
    color: var(--galaxy-primary-color);
  }
  &[disabled] {
    color: #888;
    background: transparent;
    border-color: transparent;
    &:hover {
      color: #888;
      background: transparent;
      border-color: transparent;
    }
  }
}
button.galaxy-btn-link{
  color: var(--galaxy-primary-color-hover);
  &:hover {
    color: var(--galaxy-primary-color);
    background: transparent;
    border-color: transparent;
  }
  &:active {
    border-color: transparent;
    color: var(--galaxy-primary-color-active);
    background: transparent;
  }
  &:focus {
    color: var(--galaxy-primary-color);
  }
  &[disabled] {
    color: #888;
    background: transparent;
    border-color: transparent;
    &:hover {
      color: #888;
      background: transparent;
      border-color: transparent;
    }
  }
}
