$model-border-radius: 8px;
$header-fill-color: #f6f6f6;

body {
  margin: 0;
  padding: 0;
  .el-popper{
    z-index: 2999!important;
  }
  #app{
    height: 100%;
  }
  svg[preserveAspectRatio="xMidYMid meet"]{
    transform: translate(0, 3px);
  }
  svg[preserveAspectRatio="xMidYMid meet"][spin]{
    animation: spin 1s linear 0s infinite normal;
  }
  @keyframes spin{
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)
    }
  }
}
.pageBox {
  width: calc(100% - 10px);
  min-height: calc(100vh - 58px);
  // background-color: white;
  margin: 10px 0 0 10px;
}
.bcW {
  background-color: white;
}
main.main {
  padding: 10px;
  box-sizing: border-box;
}
/* galaxy-light风格样式 */
/* 公共样式引入 */
div[class*='-modal-root'],
div[class*='-drawer'],
div[class*='-dropdown'],
div.galaxy-theme-style {
  @import "./form.scss"; /* form表单样式调整 */
  @import "./table.scss"; /* table表格样式调整 */
  @import "./button.scss"; /* table表格样式调整 */
}


//header
.galaxy-layout-header{
  background: #1c1917;
}

// table
.galaxy-table{
  line-height: 1.22;
  border-radius: $model-border-radius;
}
.galaxy-table-thead>tr>th{
  font-size: 14px;
  background: $header-fill-color;
}
.galaxy-table.galaxy-table-bordered > .galaxy-table-container{
  border: 0;
}

// modal
.galaxy-modal-header{
  padding: 10px 24px;
  border-radius: $model-border-radius $model-border-radius 0 0;
}
.galaxy-modal-content{
  border-radius: $model-border-radius;
}
.galaxy-modal-body{
  background-color: $header-fill-color;
}
// button
.galaxy-btn {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: $block-border-radius;
}
.galaxy-btn-primary[disabled], .galaxy-btn-primary[disabled]:hover, .galaxy-btn-primary[disabled]:focus, .galaxy-btn-primary[disabled]:active {
  background: #eee;
  color: #888;
  border: 1px solid rgba(38,38,38,0.08);
}
