:root {
  --galaxy-primary-color: #00BCEB;
  --galaxy-primary-color-hover: #25B7DB;
  --galaxy-primary-color-active: #0790B2;
  --galaxy-primary-color-outline: #D6F6FD;

  --galaxy-primary-1: #F3FAFC;
  --galaxy-primary-2: #D6F6FD;
  --galaxy-primary-3: #8EE3F8;
  --galaxy-primary-4: #00BCEB;
  --galaxy-primary-5: #25B7DB;
  --galaxy-primary-6: #0790B2;
  --galaxy-primary-7: #05586C;
  --galaxy-primary-color-deprecated-pure: #F3FAFC;
  --galaxy-primary-color-deprecated-l-35: #D6F6FD;
  --galaxy-primary-color-deprecated-l-20: #8EE3F8;
  --galaxy-primary-color-deprecated-t-20: #00BCEB;
  --galaxy-primary-color-deprecated-t-50: #0790B2;
  --galaxy-primary-color-deprecated-f-12: rgba(24, 144, 255, 0.12);
  --galaxy-primary-color-active-deprecated-f-30: rgba(230, 247, 255, 0.3);
  --galaxy-primary-color-active-deprecated-d-02: #dcf4ff;
  --galaxy-success-color: #6DEBEC;
  --galaxy-success-color-hover: #17C8C9;
  --galaxy-success-color-active: #0CA0A1;
  --galaxy-success-color-outline: #DFF9FF;
  --galaxy-success-color-deprecated-bg: #F0FDFD;
  --galaxy-success-color-deprecated-border: #BDF6F6;
  --galaxy-error-color: #FF8080;
  --galaxy-error-color-hover: #D63333;
  --galaxy-error-color-active: #BE1A1A;
  --galaxy-error-color-outline: #FFD1D1;
  --galaxy-error-color-deprecated-bg: #FFF2F2;
  --galaxy-error-color-deprecated-border: #FBD0D0;
  --galaxy-warning-color: #FBD070;
  --galaxy-warning-color-hover: #EFAC15;
  --galaxy-warning-color-active: #C68A02;
  --galaxy-warning-color-outline: #FEE8B6;
  --galaxy-warning-color-deprecated-bg: #FFF7EE;
  --galaxy-warning-color-deprecated-border: #F9E4CC;
  --galaxy-info-color: #458DED;
  --galaxy-info-color-deprecated-bg: #F0FDFD;
  --galaxy-info-color-deprecated-border: #BDF6F6;
  // 正文部分
  --galaxy-text-main-color: #262626;
  --galaxy-text-minor-color: #454545;
  // 内容块
  --galaxy-main-padding-tb: 17px;
  --galaxy-main-padding-lr: 28px;
  --galaxy-main-bg: #F5F7F9;
  --galaxy-content-bg: rgba(255, 255, 255, 0.8);
  // 圆角
  --galaxy-border-radius: 8px;
}
