.order-details, .change-order-details, .script-box {
  padding: $padding-top $padding-left 0;
  :deep(.ant-collapse-borderless) {
    background-color: transparent;
  }
  :deep(.ant-collapse>.ant-collapse-item>.ant-collapse-header) {
    background-color: #fafafa;
    border-bottom: 1px solid #d9d9d9;
    padding:8px 16px;
  }
  :deep(.ant-collapse-content-box) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.header {
  padding-top: 0;
  padding-bottom: $padding-bottom;
}
@mixin planeStyle {
  background-color: white;
  margin-bottom: $margin-bottom;
}

.pad {
  padding: $padding-top $padding-left 0 ;
}
.operate-area {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
}
.btn-group {
  margin-right: $margin-right;
}
.process-area {
  @include planeStyle;
}
.order-base-area {
  @include planeStyle;
}
.attachment-area {
  @include planeStyle;
}
.log-area {
  @include planeStyle;
}
.deal-area {
  @include planeStyle;
}
.slot-table {
  @include planeStyle;
}
