.json-view-mode {
  background-color: #fff;
  padding: 10px;
}
.j-row {
  .header {
    font-weight: bold;
  }
  .col {
    display: flex;
    align-items: center;
    height: 35px;
  }
  .is-required {
    width: 100px;
  }
  .attr {
    width: 100px;
  }
  .type {
    width: 100px;
  }
  .remark {
    width: 100px;
  }
  .value {
    width: 100px;
  }
  .value-input {
    border-color: #d9d9d9;
  }
}
.items-row {
  padding-left: 10px;
  border: 1px solid #d9d9d9;
}
.ope-area {
  width: 100%;
  display: flex;
  flex-flow: row-reverse;
}
.ope-btn {
  font-size: 30px;
  cursor: pointer;
}
