body{
  margin: 0;
  padding: 0;
  .el-popper{
    z-index: 2999!important;
  }
  #app{
    height: 100%;
  }
  svg[preserveAspectRatio="xMidYMid meet"]{
    transform: translate(0, 3px);
  }
  svg[preserveAspectRatio="xMidYMid meet"][spin]{
    animation: spin 1s linear 0s infinite normal;
  }
  @keyframes spin{
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)
    }
  }
  /* 滚动条样式 */
  ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }
  /* 滚动条的滑轨背景样式 */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /* 滑块样式 */
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* galaxy风格样式 */
// @import "theme/galaxy.ant.modified.css";
// @import "theme/galaxy-theme";

/* 公共样式引入 */
@import "form.scss"; /* form表单样式调整 */
@import "table.scss"; /* table表格样式调整 */
